name: Build Validation

on: 
  push:
    branches_ignore:
      - wip/**
  pull_request:

jobs:
  Validation:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
      # Also install 3.1 as a workaround for https://github.com/actions/setup-dotnet/issues/136
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build
    - name: Test
      run: dotnet test
